<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
<title>Admin Portal</title>
</head>
<body>
   <header>
     <div class= "header-container">
         <div class="welcome-container">
            <span class="welcome">Welcome <span class="username">Admin</span></span>
         </div>
         <div class="logout-container">
            <span id="logOutButton">Logout</span>
         </div> 
     </div>
   </header>
   <main>
   <div class="main-container">
      <h2>Classes: </h2>  
      <div class="classes-list-conainer">
          <ul class="classes-list">
          </ul>
      </div>
   </div><!--End of main container -->
   </main>
   <footer>
    <div class="footer-container">
      <div class="rightSide">
         <p>Email: deannaji@csu.fullerton.edu</p>
      </div>   
      <div class="leftSide">
      <p>Developed by: Dean Naji<br><br>
        Computer science graduate student.<br> 
        California State University of Fullerton.
      </p>
      <p>Icons by: http://fontawesome.io/icons/</p>
      </div>
    </div>
   </footer> 
</body>
<script src="/javascripts/lib/jquery-2.2.4.min.js"></script>
<script src="/javascripts/adminMain.js"></script>
</html>
