<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/styles/lib/font-awesome-4.7.0/css/font-awesome.min.css">        
    <link rel="stylesheet" type="text/css" href="/styles/loginsheet.css">
    <title>User Login</title>
  </head>
  <body>
    <header>
      <div class="header-container">
      </div>
    </header>

    <main>
      <div class="main-container">
         <h3>Login: </h3>
         <div class="login-form">
            <input id="username" type="text" placeholder="username"><br><br>
            <input id="password" type="password" placeholder="password"><br><br>
            <button id="login-button">Login</button><br>
            <p class="newuser">
            New user? Please <a href="/register.html">Register</a> here.
            </p>
         </div>
         <br>
         <br>
         <a href="index.html" class="fa fa-arrow-left"> Go Back</a>
      </div>
    </main>

    <footer>
      <div class="footer-container">
      </div>
    </footer>
    <script src="/javascripts/lib/jquery-2.2.4.min.js"></script>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
